# https://dart.dev/tools/pub/private-files

# Dart
.dart_tool/
build/

# Lock files. For library packages the lockfile should not be committed.
# https://dart.dev/tools/pub/dependencies#lockfiles
*.lock

# Generated API docs
doc/api/

# Test/coverage output
coverage/

# Editors
.idea/
.vscode/
*.iml
*.iws
*.ipr

# macOS / Windows / Linux cruft
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
